$fontFam_uqReg: UniqloProRegular,
'Uniqlo Pro Regular',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$fontFam_uqBold: UniqloProBold,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$fontFam_hel: 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

@mixin fontNova() {
	font-family: regulator-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform: none;
}

@import 'breakpoints';


.reveal img {
	max-height: 90%;
}

.dsSlides {
	width: 100%;
}

.reveal * {
	box-sizing: border-box;
}

.reveal .dsSlides {
	text-align: left;

	h2 {
		@include fontNova();
		font-weight: 500;
		text-transform: capitalize;
	}

	h3 {
		margin: 0;
		// font-family: regulator-nova, sans-serif;
		// font-style: normal;
		// font-weight: 300;
        // text-transform: none;
		@include fontNova();
		font-weight: 300;
		line-height: 1.6;
	}

	ul {
		margin-top: 20px;
		// text-align: center;
	}

	li {
		padding-bottom: 10px;
		@include fontNova();
		list-style-type: circle;
	}

	section {
		img {
			background: none;
			border: none;
		}
	}

	.titleSlide {
		position: relative;
		h2 {
			// position: absolute;
			margin: 640px auto 0;
			text-align: center;
		}
	}

	.dsTools {
		h2 {
			margin-bottom: 30px;
		}
		h3 {
			font-size: 40px;
			line-height: 40px;
		}
		ul {
			padding-bottom: 30px;
		}
		li {
			font-size: 36px;
		}
	}

	.dsWho {
		section.dsTriptych {
			position: relative;
			display: flex !important;
			justify-content: center;
			align-items: center;
			height: 90%;

			img {
				float: left;
				max-height: 80%;
				margin: 0;
				padding: 0 20px;
			}

			&.dsAbsTrip {
				position: absolute;
				top: 0;

				.dsEmote {
					font-size: 150px;
				}
			}
		}
	}

	.dsTxtOnly {
		// display: flex !important;
		// justify-content: center;
		text-align: center;

	}
	
	.dsImageCont {
		display: flex !important;
		justify-content: center;
		align-items: center;
		img {
			height: 90vh;
			width: auto;
			margin: 0 auto;
			text-align: center;
		}
	}
    
    .dsTxtHeadSub {
        display: block;
		text-align: center;
    }
}
